body {
    padding-top: 22px;
    font-family: Poppins;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
}

.primary-color {
    color: #F18234;

}

.gray {
    color: #707070;
}

.video-div {
    padding: 22px 18px 18px 18px;
    background-color: #FCE6D6;
    border-radius: 8px;
}

.video-div h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
}

.video-div p {
    font-size: 14px;
    font-weight: 400;
}

.video-div video {
    border-radius: 8px;

}

.select-div {
    padding-top: 32px;
    padding-bottom: 20px;
}

.select-div select {
    display: flex;
    /* width: 198px; */
    /* height: 48px; */
    border: 1px solid #707070 !important;
    padding: 11.52px 8px 11.801px 18px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 37px;
    flex-shrink: 0;
}

.camp-card {
    position: relative;
    z-index: 1;
    margin-top: -16px;
    background-color: #FEF3EB;
    margin-bottom: 32px;
    border-radius: 8px;
}

.camp-card h5 {
    font-size: 16px;
    font-weight: 400;

}

.camp-card button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F18234;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    backdrop-filter: blur(2px);
    padding: 14px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bi-arrow-right {
    font-size: 22px;
}

@media (max-width: 992px) {
    .video-div {
        padding: 18px 12px 12px 12px;
    }
}